div {
    margin-left: 150px;
}

table {
    border-collapse: collapse;
}

td.isprekidano {
    border-right: dashed black 1px;
    border-bottom: solid black 1px;
    border-top: black solid 1px;
    border-left: solid black 1px;
}

td.puna {
    border-left: dashed black 1px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-right: solid black 1px;
}

td {
    width: 30px;
    height: 80px;
}

td.sati {
    text-align: center;
    height: 30px;
    font-size: 20px;
}

#aktivnost {
    background-color: rgb(198, 227, 236);
    text-align: center;
    font-size: 20px;
    vertical-align: top;
}

#aktivnostIsprekidano {
    background-color: rgb(198, 227, 236);
    text-align: center;
    font-size: 20px;
    vertical-align: top;
    border-left: dashed black 1px;
}

#dani {
    font-size: 25px;
    font-family: Verdana;
    text-decoration: none;
}